<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Lista de Itens</title>
</head>
<body>
  <h1>Itens da API</h1>
  <ul>
    <% items.forEach(function(item){ %>
      <li><%= item %></li>
    <% }); %>
  </ul>
</body>
</html>
